@import "tailwindcss";
@theme {
    --color-base:#06035B;
}
@keyframes zoom{
    from{transform:scale(100%)
    }
    to{transform:scale(105%)}
}
.zoom-slow{
    animation:zoom 10s ease-in-out forwards
}
@keyframes textImpact{
    0% {opacity:0;transform:scale(0.8);}
    60% {opacity:1;transform:scale(1.1);}
    100% {opacity:1;transform:scale(1);}
}
.textImpact{
    animation:textImpact 0.8s ease-out forwards
}
.scrolled {
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}